body {
    background-color: #efecca;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #c03000;
}

h2 {
    color: #4bb5c1;
}

ul li {
    border: solid;
    border-color: #660000;
    background-color: #c03000;
    display: inline;
    padding: 3px;
}


li:hover {
    background-color: #009900;
}

a:active, a:focus {
    background-color: #009900;
}

footer a {
    text-decoration: none;
    color: #0000ff;
}

